*{
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
  height: 100%;
}

body{
  margin: 0;
  height: 100%;

  font: {
    family: $font-primary;
    size: $font-size-primary;
  }

  color: $color-text-primary;
}

#app{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;

  li{
    list-style: none;
  }
}

a{
  text-decoration: none;
}

p{
  margin: 0;
}

button{
  padding: 0;
  border: none;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  outline: none;
}
input{
  padding: 0;

  border: none;
  outline: none;
}

input,
textarea,
select,
button{
  font: {
    family: $font-primary;
    size: $font-size-primary;
  }
}

.container{
  max-width: 1140px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.spinner-wrap{
  display: flex;
  justify-content: center;
}


