$column-gap: 10px !default;

.columns{
  display: block;

  &.is-half{
    width: 50%;
  }

  @include mobile{
    &.is-flex-mobile{
      display: flex;
    }
  }

  @include tablet{
    display: flex;
    justify-content: space-between;

    &.is-two-third-tablet{
      width: 66.666%;
    }
  }

  .column{
    width: 100%;
    padding: $column-gap;

    @include tablet{
      width: 33.333%;
    }
  }
}
