.is-hidden{
  display: none!important;
}

.is-hidden-touch{

  @include touch-only{
    display: none!important;
  }
}

.is-flex{
  display: flex!important;
}

.is-text-bold{
  font-weight: bold!important;
}

.text-align-right{
  text-align: right!important;
}

.is-focused{
  border: $border-when-focused!important;
}

.has-form-field-indents{
  margin: $indents-form-fields;
}

.is-error-border{
  border: $border-error!important;
}

.has-form-bg{
  background: $bg-booking-form!important;
}

.has-color-grey{
  color: #8b8d95!important;
}

.has-color-green{
  color: #62C57B!important;
}

