//FONTS
@mixin font($fontName, $urlName: $fontName) {
  font-family: '#{$fontName}';
  src: url('../assets/fonts/#{$urlName}/#{$urlName}.eot');
  src: url('../assets/fonts/#{$urlName}/#{$urlName}.eot#iefix') format('embedded-opentype'),
  url('../assets/fonts/#{$urlName}/#{$urlName}.woff') format('woff'),
  url('../assets/fonts/#{$urlName}/#{$urlName}.ttf') format('truetype'),
  url('../assets/fonts/#{$urlName}/#{$urlName}.svg') format('svg');
}
//FONTS

//MEDIA QUERIES
@mixin mobile{
  @media only screen and (min-width: $mobile){
    @content
  }
}

@mixin tablet{
  @media only screen and (min-width: $tablet) {
    @content
  }
}

@mixin touch-only{
  @media only screen and (max-width: $desktop - 1) {
    @content
  }
}

@mixin desktop{
  @media only screen and (min-width: $desktop) {
    @content
  }
}

@mixin widescreen{
  @media only screen and (min-width: $widescreen){
    @content
  }
}

@mixin landscape-mobile-only{
  @media only screen and (orientation: $landscape) and (max-width: 900px){
    @content
  }
}
//MEDIA QUERIES
