//FONTS
$font-primary: 'Inter-Regular';
//FONTS

//FONT SIZE
$font-size-primary: 14px;
//FONT SIZE

//MEDIA BREAKPOINTS
$mobile: 320px;
$tablet: 600px;
$desktop: 1024px;
$widescreen: 1440px;

$landscape: landscape;
//MEDIA BREAKPOINTS

//COLORS
$color-text-primary: #363637;
$color-text-footer: #7A88A4;
$color-active-fields-border: #4695DB;
$color-focused-select-item: #D4EBFF;
$color-error: #FA4F33;

$bg-header: #fff;
$bg-footer: #313F59;
$bg-booking-form: rgba(37, 61, 123, 0.9);
$bg-form-fields: #fff;
$bg-search-result-page: #EDEEF0;
//COLORS

//IMG
$img-url-bg-hero: "/src/assets/img/bg-hero.png";
//IMG

//INDENTS
$margin-form-fields: 2px;
$indents-form-fields: 12px;
//INDENTS

//OTHERS
$arrow-size: 9px;
$arrow-border: 1px;
$arrow-transform: rotate(45deg);
$arrow-up-transform: rotate(-135deg);
$arrow-transition: .2s linear;
$primary-border-radius: 4px;
$border-when-focused: 2px solid $color-active-fields-border;
$border-prevent-debounce-when-focused: 2px solid transparent;
$border-error: 1px solid $color-error;
//OTHERS
