.datepicker-trigger{
  height: 100%;

  font-size: $font-size-primary!important;

  &.is-error-border{
     input{
      border: $border-error;
    }
  }

  input{
    width: 100%;
    height: 100%;
    padding: $indents-form-fields;
    border: $border-prevent-debounce-when-focused;
  }

  .datepicker-open{
    border: $border-when-focused;
  }

  .asd__wrapper{
    margin-top: $margin-form-fields;

    border: none;
    border-radius: $primary-border-radius;

    .asd__days-legend{
      font-weight: bold;
    }

    .asd__month-name{
      font-size: $font-size-primary;
    }

    .asd__month-table{
      margin-top: 50px;

      td{
        border: none!important;

        &:hover{
          background: #E8F3FD!important;
          border-radius: 50%;
        }

        &.asd__day--empty{

          &:hover{
            background: none!important;
          }
        }

        &.asd__day--in-range{

          &:hover{
            background: #E8F3FD!important;
            border-radius: 0;
          }
        }

        button:hover{
          background: #C5E1F9!important;
          border-radius: 50%;
        }

        &.asd__selected-date-one{
          border-bottom-left-radius: 50%;
          border-top-left-radius: 50%;

          background: #E8F3FD!important;

          &:hover{
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
          }

          button{
            background: #C5E1F9;
            border-radius: 50%;
          }
        }

        &.asd__selected-date-two{
          border-bottom-right-radius: 50%;
          border-top-right-radius: 50%;

          background: #E8F3FD!important;

          &:hover{
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
          }

          button{
            background: #C5E1F9;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
