$tabs-underline: 3px solid #3E73F9;;
$color-tabs: #fff;
$font-size-tabs: 13px;

.tabs-component {

  /deep/ .tabs-component-tabs {
    display: flex;

    padding: 0 0 25px 0;

    .tabs-component-tab {
      margin-right: 15px;

      &:last-child{
        margin-right: 0;
      }

      text-transform: uppercase;

      &:hover{
        border-bottom: $tabs-underline;
      }

      &.is-active{
        border-bottom: $tabs-underline;
      }
    }

    .tabs-component-tab-a {
      font-size: $font-size-tabs;
      letter-spacing: 0.6px;

      color: $color-tabs;
    }
  }
}
