.v-select{
  height: auto;
  width: 100%;

  border-radius: $primary-border-radius;

  .dropdown-menu{
    position: absolute;

    padding: 10px 0;
    margin-top: $margin-form-fields;
    border: none;

    li{

      &.active{
        background: $color-focused-select-item;

        a{
          background: $color-focused-select-item;
        }
      }

      &.highlight{

        a{
          background: #D4EBFF;
          color: $color-text-primary;
        }
      }

      a{
        padding: 10px;
      }
    }
  }

  .dropdown-toggle{
    padding: 12px;

    border: 2px solid #E0E1E7;
    border-radius: $primary-border-radius;

    .vs__selected-options{
      display: flex;
      align-items: center;
      padding: 0;

      .selected-tag{
        position: static;
        margin: 0;
        padding: 0;
        line-height: normal;
        border: none;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      input[type=search]{
        margin: 0;
        width: 0;
        height: 0;
      }
    }

    .vs__actions{
      padding: 0;

      .clear{
        display: none;
      }

      .open-indicator{

        &:before{
          content: '';

          width: $arrow-size;
          height: $arrow-size;

          border-width: 0 $arrow-border $arrow-border 0;

          border-color: $color-text-primary;

          transform: $arrow-transform;
          transition: $arrow-transition;
        }
      }
    }
  }

  &.open{
    box-shadow: none;

    .dropdown-toggle{
      border: $border-when-focused!important;
      border: none;
      border-radius: $primary-border-radius;
    }

    .open-indicator{

      &:before{
        margin-top: 5px;
        transform: rotate(-135deg)!important;
      }
    }
  }
}
