.vue-simple-suggest{
  position: relative;

  height: 100%;

  &.is-error-border{

    .input-wrapper{
      border: $border-error!important;
    }
  }

  .input-wrapper{
    display: flex;
    align-items: center;
    height: 100%;

    background: $bg-form-fields;

    border: $border-prevent-debounce-when-focused;

    .custom-input,
    .default-input{
      width: 100%;
      height: 100%;
      padding: $indents-form-fields;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .suggestions{
    position: absolute;

    margin-top: $margin-form-fields;
    padding: 10px 0;
    max-height: 200px;
    width: 100%;

    z-index: 2;

    background: $bg-form-fields;

    border-radius: $primary-border-radius;
    overflow: auto;

    @include desktop{
      min-width: 365px;
    }

    .suggest-item{

      padding: 10px;

      color: $color-text-primary;

      cursor: pointer;

      &.selected{
        background: $color-focused-select-item;
      }

      &.hover{
        background: $color-focused-select-item;
      }

      & > div{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .suggest-code{
          margin-left: 15px;

          color: #B1B1B2;
        }
      }
    }
  }

  &.focus{

    .input-wrapper{
      border: 2px solid $color-active-fields-border;
    }
  }
}
