<template>
  <div class="dropdown">
    <div class="dropdown-output"
         @click="isFocused = !isFocused"
         :class="{'is-focused' : isFocused}">
      <span class="label">{{label}}</span>
      <span class="arrow-down"
            :class="{'arrow-up' : isFocused}"></span>
    </div>
    <div class='dropdown-body'
         v-show="isFocused">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  import { outsideClick } from "../mixins/outsideClickMixin";

  export default {
      name: "BaseDropdown",
      mixins: [outsideClick],
      props: {
        label: String
      },
    }
</script>

<style scoped lang="scss">
@import "../scss/app";

.dropdown{
  position: relative;
  height: 100%;

  .dropdown-output{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    padding: $indents-form-fields;

    border: $border-prevent-debounce-when-focused;

    background: $bg-form-fields;

    cursor: pointer;

    .label{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .arrow-down{
      padding-left: 10px;
      margin-top: -5px;

      &:after{
        content: '';

        display: inline-block;
        width: $arrow-size;
        height: $arrow-size;

        border-style: solid;
        border-width: 0 $arrow-border $arrow-border 0;

        transform: $arrow-transform;

        transition: $arrow-transition;
      }

      &.arrow-up{

        &:after{
          transform: $arrow-up-transform;
          margin-bottom: -5px;
        }
      }
    }
  }

  .dropdown-body{
    position: absolute;

    margin-top: 2px;
    width: 100%;
    padding: 20px;

    border-radius: $primary-border-radius;

    background: $bg-form-fields;
  }
}

.round-trip-form{

  .dropdown-body{

    @include desktop{
      width: inherit;
      min-width: 296px;
    }
  }
}
</style>
