<template>
  <button :type="type"
          :disabled="disabled"
          :class="modifier ? `button ${modifier}` : null"
          @click="onClick">
    {{ name }}
    <slot name="icon"></slot>
  </button>
</template>

<script>
    export default {
      name: 'BaseButton',
      props: {
        name: String,
        disabled: Boolean,
        modifier: String,
        type: String,
      },
      methods: {
        onClick() {
          this.$emit('click');
        }
      }
    }
</script>

<style scoped lang="scss">
  @import "../scss/app";

  .button{
    width: 100%;
    height: 100%;
    padding: 15px;

    border-radius: $primary-border-radius;

    font-size: 14px;

    color: #fff;
    box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.1);

    &.is-primary{
      background-color: #6DB3F1;

      &:hover,
      &:active{
        background-color: #62A4DE;
      }
    }

    &.is-info{
      background-color: #FFA84A;

      &:hover,
      &:active{
        background-color: #F29B45;
      }
    }

    &.is-link{
      color: #4695DB;;
      background-color: #D4EBFF;
      box-shadow: inset 0 -2px 0 0 rgba(56,78,134,0.1), 0 -2px 0 0 rgba(0,0,0,0.1);

      &:hover,
      &:active{
        background-color: #CBE4FA;
      }
    }
  }
</style>
