<template>
  <div class="error-text"
       v-if="showIf">{{ errorMessage }}</div>
</template>

<script>
    export default {
      name: "BaseErrorMessage",
      props: {
        errorMessage:{
          type: String,
          default: 'Field is required'
        },
        showIf:{
          type: Boolean
        }
      }
    }
</script>

<style scoped lang="scss">
  @import "../scss/app";

  .error-text{
    color: $color-error;
  }
</style>
