<template>
  <div class="counter-wrap">
    <div class="counter-label">{{counterName}}</div>
    <div class="counter-items">
      <button class="decrement button-counter"
              type="button"
              :disabled="value <= min"
              @click="decrement"></button>
      <span class="counter-value">{{value}}</span>
      <button class="increment button-counter"
              type="button"
              @click="increment"
              :disabled="max"></button>
    </div>
  </div>
</template>

<script>
    export default {
      name: "BaseCounter",
      props: {
        counterName: String,
        value: {
          type: Number,
          required: true,
        },
        min: Number,
        max: Boolean,
      },
      data(){
        return{
          count: this.value,
        }
      },
      methods: {
        increment() {
          this.count++;
          this.$emit('changeValue', this.count);
        },
        decrement() {
          this.count--;
          this.$emit('changeValue', this.count);
        }
      },
    }
</script>

<style scoped lang="scss">
@import "../scss/app";

$btn-size: 33px;
$btn-inside-line: 11px;
$btn-inside-line-border: 1px solid;

.counter-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 15px;

  &:last-child{
    margin-bottom: 0;
  }

  .counter-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 110px;

    .button-counter{
      position: relative;
      width: $btn-size;
      height: $btn-size;

      vertical-align: middle;

      border: 1px solid;
      border-radius: 50%;

      color: #7B7B7D;

      &:disabled{
        color: #E0E1E7;
      }

      &.decrement:before{
        content: '';

        display: block;
        width: $btn-inside-line;
        margin: 0 auto;

        border-top: $btn-inside-line-border;
      }

      &.increment:before{
        content: '';

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        display: block;
        width: $btn-inside-line;
        height: 0;
        margin: auto;

        border-top: $btn-inside-line-border;
      }
      &.increment:after{
        content: '';

        display: block;
        height: $btn-inside-line;
        width: 0;
        margin: 0 auto;

        border-right: $btn-inside-line-border;
      }
    }

    .counter-value{
      padding: 0 10px;
    }
  }
}
</style>
