<template>
  <form action=""
        class="round-trip-form"
        @submit.prevent="search">
  <div class="form-row">
    <div class="form-col">
      <AutocompleteVue
        v-model="origin"
        :class="{'is-error-border': $v.origin.$error}"
        :list="originLocations"
        :filter-by-query="true"
        @select="changeSelectedOriginPoint"
        @input="setOriginLocations">
        <input class="custom-input"
               placeholder="From"
               :value="origin">
        <BaseButton
          :type="'button'"
          class="has-form-field-indents"
          @click="switchOriginDestination">
          <IconTwoSideArrows slot="icon"/>
        </BaseButton>
        <div slot="suggestion-item" slot-scope="{ suggestion }">
          <span>{{suggestion.title}}</span>
          <span class="suggest-code">{{suggestion.code}}</span>
        </div>
      </AutocompleteVue>
      <BaseErrorMessage
        :showIf="$v.origin.$error"
        class="is-hidden-touch"/>
    </div>
    <div class="form-col">
      <AutocompleteVue
        v-model="destination"
        :class="{'is-error-border': $v.destination.$error}"
        :list="destinationLocations"
        :filter-by-query="true"
        @select="changeSelectedDestinationPoint"
        @input="setDestinationLocations">
        <input class="custom-input"
               placeholder="To"
               :value="destination">
        <div slot="suggestion-item" slot-scope="{ suggestion }">
          <span>{{suggestion.title}}</span>
          <span class="suggest-code">{{suggestion.code}}</span>
        </div>
      </AutocompleteVue>
      <BaseErrorMessage
        :showIf="$v.destination.$error"
        :error-message="'Please enter your destination'"
        class="is-hidden-touch"/>
    </div>
  </div>
  <div class="form-row">
    <div class="form-col">
      <div class="datepicker-trigger"
           :class="{'is-error-border': $v.departureDate.$error || $v.returnDate.$error}">
        <input
          type="text"
          readonly
          id="datepicker-trigger"
          placeholder="Depart - Return"
          :value="formatDates(departureDate, returnDate)"
          :label="formatDates(departureDate, returnDate)">
        <AirbnbStyleDatepicker :trigger-element-id="'datepicker-trigger'"
                               :mode="'range'"
                               :showActionButtons="false"
                               :showShortcutsMenuTrigger="false"
                               :minDate="new Date()"
                               :disableOutsideRangeNavigation="true"
                               :closeAfterSelect="true"
                               :date-one="departureDate"
                               :date-two="returnDate"
                               @date-one-selected="val => { departureDate = val }"
                               @date-two-selected="val => { returnDate = val }"
                               @closed="changeFlightDates"/>
        <BaseErrorMessage
          :showIf="$v.departureDate.$error || $v.returnDate.$error"
          class="is-hidden-touch"/>
      </div>
    </div>
    <div class="form-col">
      <BaseDropdown :label="passengersLabel">
        <BaseCounter :counterName="'Adults'"
                 :value="passengersCount.adultsCount"
                 @changeValue="adultsCountChange"
                 :min="1"
                 :max="isIncrementDisabled()"/>
        <BaseCounter :counterName="'Children'"
                 :value="passengersCount.childrenCount"
                 @changeValue="childrenCountChange"
                 :min="0"
                 :max="isIncrementDisabled()"/>
        <BaseCounter :counterName="'Infants'"
                 :value="passengersCount.infantsCount"
                 @changeValue="infantsCountChange"
                 :min="0"
                 :max="isIncrementDisabled()"/>
        <div class="select-wrap">
          <span class="select-label">Cabin Type</span>
          <SelectVue
            :options="cabinTypeOptions"
            :value="selectedCabinType"
            v-model="selectedType"
            @input="changeSelectedCabinType"
            :searchable="false"/>
        </div>
      </BaseDropdown>
    </div>
  </div>
  <div class="form-col">
    <div class="btn-search-wrap">
      <router-link
        to="/search-flights-result"
        :event="$v.$invalid ? '' : 'click'">
        <BaseButton
          :type="'submit'"
          :name="'Search'"
          :modifier="'is-primary'"
          @click="search"/>
      </router-link>
    </div>
  </div>
  </form>
</template>

<script>
  import { mapState, mapActions, mapGetters } from 'vuex'
  import { required } from 'vuelidate/lib/validators'

  import BaseDropdown from './BaseDropdown'
  import BaseCounter from './BaseCounter'
  import SelectVue from 'vue-select'
  import AutocompleteVue from 'vue-simple-suggest'
  import BaseErrorMessage from './BaseErrorMessage'
  import BaseButton from './BaseButton'
  import IconTwoSideArrows from './IconTwoSideArrows'

  import format from 'date-fns/format'

  export default {
    name: "BookingFormRoundTrip",
    components: {
      BaseDropdown,
      BaseCounter,
      SelectVue,
      AutocompleteVue,
      BaseErrorMessage,
      BaseButton,
      IconTwoSideArrows
    },
    validations: {
      origin: {
        required
      },
      destination: {
        required
      },
      departureDate: {
        required
      },
      returnDate: {
        required
      }
    },
    data(){
      return {
        temp:[],
        origin:'',
        destination:'',
        maxPassangersNumber: 9,
        incrementDisabled: false,
        cabinTypeOptions: [
          'Economy',
          'Premium Economy',
          'Business',
          'First',
        ],
        selectedType: 'Economy',
        dateFormat: 'MMM D',
        departureDate: '',
        returnDate: '',
      }
    },
    computed: {
      ...mapState({
        passengersCount: state => state.roundTrip.passengersCount,
        selectedCabinType: state => state.roundTrip.cabinType,
        selectedOriginPoint: state => state.roundTrip.origin,
        selectedDestinationPoint: state => state.roundTrip.destination,
        selectedDepartureDate: state => state.roundTrip.departureDate,
        selectedReturnDate: state => state.roundTrip.returnDate,
        selectedAdultsNumber: state => state.roundTrip.passengersCount.adultsCount,
        selectedChildrenNumber: state => state.roundTrip.passengersCount.childrenCount,
        selectedInfantsNumber: state => state.roundTrip.passengersCount.infantsCount,
      }),
      ...mapGetters({
        originLocations: 'originLocations',
        destinationLocations: 'destinationLocations',
      }),
      commonQuantity(){
          let sum = 0;
          for (let count in this.passengersCount){
            sum += this.passengersCount[count];
          }
          return sum
      },
      passengersLabel() {
        return `${this.commonQuantity} Passenger${this.wordEnding()}, ${this.selectedType}`
      },
    },
    updated(){
      this.changeFlightDates();
    },
    methods:{
      ...mapActions([
        'changePassengers',
        'setSelectedCabinType',
        'setSelectedOriginPoint',
        'setSelectedDestinationPoint',
        'setDepartureDate',
        'setReturnDate',
        'switchOriginDestinationPoints',
        'getOriginLocations',
        'getDestinationLocations',
        'getRoundTripResult'
      ]) ,
      adultsCountChange(event){
        this.changePassengers({
            ...this.passengersCount,
            adultsCount: event,
        });
      },
      childrenCountChange(event) {
        this.changePassengers({
          ...this.passengersCount,
          childrenCount: event,
        });
      },
      infantsCountChange(event) {
        this.changePassengers({
          ...this.passengersCount,
          infantsCount: event,
        });
      },
      changeSelectedCabinType(){
        this.setSelectedCabinType(this.selectedType)
      },
      changeSelectedOriginPoint(event){
        this.setSelectedOriginPoint({
          code: event.code,
          title: event.title,
        });
      },
      changeSelectedDestinationPoint(event){
        this.setSelectedDestinationPoint({
          code: event.code,
          title: event.title,
        });
      },
      changeFlightDates(){
        this.setDepartureDate(this.departureDate);
        this.setReturnDate(this.returnDate);
      },
      switchOriginDestination(){
        const temp = this.origin;
        this.origin = this.destination;
        this.destination = temp;
        this.switchOriginDestinationPoints();
      },
      setOriginLocations(){
        if(this.origin.length >= 2){
          console.log('this.origin',this.selectedOriginPoint);
          this.getOriginLocations(this.origin);
        }
      },
      setDestinationLocations(){
        if(this.destination.length >= 2){
          console.log('this.origin',this.selectedDestinationPoint);
          this.getDestinationLocations(this.destination);
        }
      },
      wordEnding(){
        if(this.commonQuantity > 1){
          return 's'
        }else{
          return ''
        }
      },
      isIncrementDisabled(){
        if(this.commonQuantity >= this.maxPassangersNumber){
          return this.incrementDisabled = true;
        }else{
          return this.incrementDisabled = false;
        }
      },

      formatDates(departureDate, returnDate) {
        let formattedDates = ''
        if (departureDate) {
          formattedDates = format(departureDate, this.dateFormat) + ' - Return'
        }
        if (returnDate) {
          formattedDates = format(departureDate, this.dateFormat) + ' - ' +  format(returnDate, this.dateFormat)
        }
        return formattedDates
      },
      search() {

        this.$v.$touch();

        if(!this.$v.$invalid){
          this.getRoundTripResult({
            origin: this.selectedOriginPoint.code,
            destination: this.selectedDestinationPoint.code,
            departureDate: this.selectedDepartureDate,
            returnDate: this.selectedReturnDate,
            adultsNumber: this.selectedAdultsNumber,
            childrenNumber: this.selectedChildrenNumber,
            infantsNumber: this.selectedInfantsNumber,
            cabinType: this.selectedCabinType,
          });
        }

        console.log(this.$store.state.roundTrip);
    },
    },
  }
</script>

<style scoped lang="scss">
@import "../scss/app";

.round-trip-form{
  display: flex;
  flex-direction: column;

  @include desktop{
    flex-direction: row;
  }

  .form-row{
    display: flex;
    flex-direction: column;
    width: 100%;

    @include tablet{
      flex-direction: row;
    }

    .form-col{
      margin-bottom: $margin-form-fields;

      @include tablet{
        max-height: 48px;
        width: 50%;
        margin-right: $margin-form-fields;

        &:last-child{
          margin-right: 0;
        }
      }

      @include desktop{
        width: 100%;
        margin-bottom: 0;

        &:last-child{
          margin-right: $margin-form-fields;
        }
      }
    }
  }

  .select-wrap{
    display: flex;
    align-items: center;

    .select-label{
      min-width: 80px;
      margin-right: 25px;
    }
  }

  .btn-search-wrap{
    height: 100%;
    min-width: 120px;
  }
}
</style>
