<template>
  <div class="booking-form">
    <tabs>
      <tab name="Round Trip">
        <BookingFormRoundTrip/>
      </tab>
      <tab name="One Way">
        Second tab content
      </tab>
    </tabs>
  </div>
</template>

<script>
  import {Tabs, Tab} from 'vue-tabs-component';
  import BookingFormRoundTrip from './BookingFormRoundTrip'

  export default {
    name: "BookingForm",
    components:{
      Tabs,
      Tab,
      BookingFormRoundTrip,
    }
  }
</script>

<style scoped lang="scss">
  @import "../scss/app";

  .booking-form{
    padding: 25px;

    border-radius: $primary-border-radius;
  }
</style>
