<template>
    <div class="flight-segment">
      <div class="segment-info">
        <div class="segment">
          <div class="airline-logo"
               style="background: url('/src/assets/img/airline-logo.png') no-repeat"></div>
          <div class="segment-item-wrap">
            <div class="segment-item arrival-info">
              <span class="is-text-bold">15:40 - 20:15</span>
              <span class="airline has-color-grey">Brussels Airlines</span>
            </div>
            <div class="segment-item duration">
              <span class="is-text-bold">14h 30m</span>
              <span class="code has-color-grey">LAX - CDG</span>
            </div>
            <div class="segment-item transfer">
              <span class="is-text-bold">1 stop</span>
              <span class="transfer-info has-color-grey">OSL, 3h 49min</span>
            </div>
          </div>
        </div>
        <div class="segment">
          <div class="airline-logo"
               style="background: url('/src/assets/img/airline-logo.png') no-repeat"></div>
          <div class="segment-item-wrap">
            <div class="segment-item arrival-info">
              <span class="is-text-bold">15:40 - 20:15</span>
              <span class="airline has-color-grey">Brussels Airlines</span>
            </div>
            <div class="segment-item duration">
              <span class="is-text-bold">14h 30m</span>
              <span class="code has-color-grey">LAX - CDG</span>
            </div>
            <div class="segment-item transfer">
              <span class="is-text-bold has-color-green">nonstop</span>
            </div>
          </div>
        </div>
      </div>
      <div class="segment-price">
        <p class="price-wrap">
          <span class="has-color-grey">total</span>
          <span class="price is-text-bold">$688</span>
        </p>
        <div class="button-wrap">
          <BaseButton
            :type="'button'"
            :name="'Book Flight'"
            :modifier="'is-info'"/>
        </div>
      </div>
      <div class="arrow-wrap">
        <BaseButton
          :type="'button'"
          class="has-padding"
          @click="isClicked">
          <span slot="icon"
                class="arrow-down"
                :class="{'arrow-up': isOpened}"></span>
        </BaseButton>
      </div>
    </div>
</template>

<script>
  import BaseButton from './BaseButton'
  export default {
    name: "SearchFlightSegment",
    components: {
      BaseButton
    },
    data(){
      return {
        isOpened: false,
      }
    },
    methods: {
      isClicked(){
        this.isOpened = !this.isOpened;
      }
    }
  }
</script>

<style scoped lang="scss">
  @import '../scss/app';

  $border-segment: 1px solid #f0f1f4;

  .flight-segment{
    background: #fff;

    @include touch-only{
      font-size: 12px;
    }

    @include tablet{
      display: flex;

      border-radius: $primary-border-radius;
    }

    .segment-info{
      padding: 20px;

      border-bottom: $border-segment;

      @include tablet{
        width: 100%;

        border-right: $border-segment;
        border-bottom: none;
      }

      .segment{
        display: flex;
        margin-bottom: 20px;

        &:last-child{
          margin-bottom: 0;
        }

        .airline-logo{
          width: 36px;
          height: 36px;
          background-size: 100% 100%!important;
        }

        .segment-item-wrap{
          display: flex;
          justify-content: space-between;
          width: 100%;


          .segment-item{
            display: flex;
            flex-direction: column;
            min-width: 25%;
            width: 100%;

            margin: 0 10px;

            &:last-child{
              margin-right: 0;
            }

            span{
              margin-bottom: 5px;

              &:last-child{
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }

    .segment-price{
      display: flex;
      align-items: center;
      justify-content: flex-end;

      padding: 20px;

      @include tablet{
        flex-direction: column;
      }

      .price-wrap{

        .price{
          font-size: 18px;
        }

        @include tablet{
          width: 100%;
          margin-bottom: 10px;
        }
      }

      .button-wrap{
        min-width: 150px;

        margin-left: 15px;

        @include tablet{
          margin-left: 0;
        }
      }
    }

    .arrow-wrap{
      display: none;

      background: #f6fafe;

      @include tablet{
        display: flex;
      }

      .arrow-down{

        &:after{
          content: '';

          display: inline-block;
          width: 5px;
          height: 5px;

          border-style: solid;
          border-width: 0 $arrow-border $arrow-border 0;

          transform: $arrow-transform;

          transition: $arrow-transition;
        }

        &.arrow-up{

          &:after{
            transform: $arrow-up-transform;
          }
        }
      }

      .has-padding{
        padding: 10px;
      }
    }
  }
</style>
