<template>
    <div class="search-flights-result">
      <div class="has-form-bg">
        <div class="container">
          <BookingForm/>
        </div>
      </div>
      <div class="search-result-wrap">
        <div class="container">
          <div class="spinner-wrap" v-if="pendingStatus">
            <FulfillingBouncingCircleSpinner
              :animation-duration="3000"
              :size="60"
              :color="'#6DB3F1'"
            />
          </div>
            <FlightSegment/>
          {{$store.state.roundTrip.roundTripSearchResult}}
        </div>
      </div>
    </div>
</template>

<script>
  import { mapState } from 'vuex'
  import BookingForm from './BookingForm'
  import { FulfillingBouncingCircleSpinner } from 'epic-spinners/dist/lib/epic-spinners.min.js'
  import FlightSegment from './SearchFlightSegment'

  export default {
    name: "SearchFlightsResult",
    components: {
      BookingForm,
      FulfillingBouncingCircleSpinner,
      FlightSegment
    },
    computed: {
      ...mapState({
        pendingStatus: state => state.roundTrip.isPending
      }),
    }
  }
</script>

<style scoped lang="scss">
  @import "../scss/app";

  .search-flights-result{
    width: 100%;

    background: $bg-search-result-page;

    .search-result-wrap{
      padding: 20px 0;

      .container{

        @include touch-only{
          padding: 0;
        }
      }
    }
  }
</style>
