<template>
  <div class="flight-search-wrap">
    <div class="container">
      <BookingForm class="has-form-bg"/>
    </div>
  </div>
</template>

<script>
  import BookingForm from './BookingForm'

  export default {
    name: "SearchFlights",
    components: {
      BookingForm
    },
  }
</script>

<style scoped lang="scss">
  @import "../scss/app";

  .flight-search-wrap{
    width: 100%;
    padding: 70px 0;

    background: url($img-url-bg-hero) no-repeat;
    background-size: cover;

    @include tablet{
      display: block;
      padding-top: 215px;
    }

    @include landscape-mobile-only{
      display: flex;
      align-items: center;
      padding-top: 0;
    }
  }
</style>
