<template>
    <footer class="footer">
      <div class="container">
        <div class="columns is-flex-mobile">
          <div class="columns is-half is-two-third-tablet">
            <div class="column">
              <a href="/" class="logo-wrap">
                <img src="/src/assets/img/logo-footer.png" alt="logo">
              </a>
            </div>
            <div class="column">
              <ul class="contacts">
                <li>
                  <a href="tel: 888.734.2594" class="contact-item"><span class="sprite-contacts phone-icon"></span> 888.734.2594</a>
                </li>
                <li>
                  <a href="mailto: quotes@altexsoft.com" class="contact-item"><span class="sprite-contacts mail-icon"></span> quotes@altexsoft.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="column text-align-right">
            <span>&copy; Copyright 2019</span>
          </div>
        </div>
      </div>
    </footer>
</template>

<script>
  export default {
    name: "BaseFooter"
  }
</script>

<style scoped lang="scss">
@import "../scss/app";

.footer{
  padding: 25px 0;

  background: $bg-footer;
  color: $color-text-footer;

  font-size: 14px;
  
  a{
    color: $color-text-footer;
  }


  .logo-wrap{
    display: block;
    max-width: 100px;

    img{
      display: block;
      width: 100%;
    }
  }

  .contacts{

    li{
      margin-bottom: 5px;
    }

    .contact-item{
      display: flex;
      align-items: center;

      .sprite-contacts{
        flex: none;

        height: 15px;
        width: 11px;

        margin-right: 7px;

        background: url('/src/assets/img/sprite-contacts.png') no-repeat;
        background-size: cover;
      }

      .phone-icon{
        background-position: -13px 0px;
      }
    }
  }
}
</style>
