<template>
  <header class="header">
    <div class="container">
      <a href="/" title="logo" class="logo-wrap">
        <img src="/src/assets/img/logo.png" alt="logo">
      </a>
    </div>
  </header>
</template>

<script>
  export default {
    name: "BaseHeader"
  }
</script>

<style scoped lang="scss">
@import "../scss/app";

.header{
  padding: 20px 0;

  background: $bg-header;

  .logo-wrap{
    display: block;
    max-width: 120px;

    img{
      display: block;
      width: 100%;
    }
  }
}
</style>
