<template>
    <main class="hero-block">
      <router-view></router-view>
    </main>
</template>

<script>
  export default {
    name: "Hero",
  }
</script>

<style scoped lang="scss">
  @import "../scss/app";

  .hero-block{
    display: flex;
    flex-grow: 1;
  }
</style>
