<template>
  <div id="app">
    <TheHeader/>
    <TheHero/>
    <TheFooter/>
  </div>
</template>

<script>
  import TheHeader from './components/TheHeader'
  import TheHero from './components/TheHero'
  import TheFooter from './components/TheFooter'

  export default {
    name: 'app',
    components: {
      TheHeader,
      TheHero,
      TheFooter
    }
  }
</script>

<style lang="scss" src="./scss/app.scss"></style>
